<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div>
    <div th:replace="~{ navbar.html::navbar}"> </div>
    <div class="card" th:each="i : ${items}">
        <img src="https://placehold.co/300">
        <div>
            <a th:href="@{'/detail/' + ${i.id} }">
                <h4 th:text="${i.title}"  ></h4>
            </a>
            <p th:text="${i.price}"></p>
            <a th:href="@{/edit/{id} (id=${i.id})}">수정</a>
            <button th:onclick="'sendDeleteRequest(' + ${i.id} + ')'">삭제</button>
        </div>
    </div>


</div>
<script>
    function sendDeleteRequest(id) {
        const url = `/delete/${id}`;
        fetch(url, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                alert('Deleted successfully!');
                // 성공 시, 페이지를 새로고침하거나 삭제된 내용을 반영하도록 로직 추가 가능
                location.reload();
            } else {
                alert('Failed to delete.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
</body>
</html>